nano .gitignore
/cifar10
cifar-10-python.tar.gz
/cifar-10-batches-py
cifar-100-python.tar.gz
models/__pycache__
utils/__pycache__
cifar-100-python
results-processed.py
wine+quality
communities+and+crime
arcene
generated_data